#divListaLeves, #divListaGraves{
    width: 1075px; 
    height: 240px; 
    overflow-y: scroll;
}

#logo {
    width: 100%; 
    max-width: 250px; 
    height: auto;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }
  
.buscador {
    position: relative;
    float: right;
}

.titulo {
    position: relative;
    float: left;
}
