#divListaLeves, #divListaGraves {
    width: 1075px;
    height: 240px;
    overflow-y: scroll;
}

#logo {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.titulo {
    position: relative;
    float: left;
}

.filter-container {
    display: inline;
}

.clearfix {
    clear: both;
    width: 100%;
}

.tablaEx {
    width: 100%;
}