
body {
    background: rgba(234,252,254,1);
    background: -moz-linear-gradient(left, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,252,254,1)), color-stop(100%, rgba(139,167,170,1)));
    background: -webkit-linear-gradient(left, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    background: -o-linear-gradient(left, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    background: -ms-linear-gradient(left, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    background: linear-gradient(to right, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafcfe', endColorstr='#8ba7aa', GradientType=1 );
}

fieldset {
    border-color:#bccb3e;
}

form {
    background-color: #3CBC8D;
}
