
body {
    background: rgba(234,252,254,1);
    background: -moz-linear-gradient(left, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,252,254,1)), color-stop(100%, rgba(139,167,170,1)));
    background: -webkit-linear-gradient(left, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    background: -o-linear-gradient(left, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    background: -ms-linear-gradient(left, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    background: linear-gradient(to right, rgba(234,252,254,1) 0%, rgba(139,167,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafcfe', endColorstr='#8ba7aa', GradientType=1 );
}

#gorro{
    background-color:black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

fieldset {
    border-color:#bccb3e;
    position: center;
}

form {
    background-color: #3CBC8D;
    width: 50%;
}

#cabeza {
    background-color: #f9d7a5;
    margin-left: 450px;
    margin-right: 450px;
    padding-bottom: 0.2px;
}

#cuerpo {
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

#inside {
    padding-top: 10px;
    margin-left: 20%;
}