nav {
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    margin-left: 30%;
    margin-top: 10%;
    background: lightgrey;
    margin-right: 35%;
}

nav:hover {
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    margin-right: 32.5%;
}

nav ul {
    display: table-row;
}


nav ul li img {
    margin-left: 10px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    width: 50px;
}


nav ul li img:hover {
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    width: 100px;
}


nav ul li{
    margin: 2em;
    padding: 1em;
    display: table-cell;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 13px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}