#tablaGeneral {
    width:22.7em; 
    line-height: 1.4em; 
    text-align:left; 
    padding:.23em;
}

#titulo {
    text-align:center;
    background-color:#69A0F3;
    color:black;
    color: #FFFFFF; 
    font-size: 120%;
}

.textoPlano {
    text-align: center;
}

#imgCenter {
    text-align: center;
}

#columnaIzquierda{
    text-align: left;
}

#informacion {
    text-align: center;
    background: #69A0F3; 
    color: #FFFFFF;
}

#editar {
    font-size: 0.85em;
}
