body {
    font-family: sans-serif, "Oswald";
}


#centro{
    color: #6A6F69;
}

#centro ul {
    display: table-row;
}

#centro ul li{
    margin: 2em;
    padding: 1em;
    display: table-cell;
    font-weight: bold;
}

#centro ul li:hover{
    color: orangered;
} 

#centro {
    margin-left: 35%;
}

#alinear {
    width:25%; 
    float:left; 
    display:block;
}