.container {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 175px 450px 50px;
    grid-template-areas: "h h h h h h h h h h h h" "m m c c c c c c c c l l" "f f f f f f f f f f f f";
}

/* HEADER */

.header {
    grid-area: h;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.header h1 {
    color: white;
    position: absolute;
    right: 10px;
}


/* MENU */
.menu {
    grid-area: m;
    background-color: lightblue;
    padding: 10px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 143px 143px 143px;
    grid-template-areas: "menuA" "menuB" "menuC";
    border-radius: 10px;
}

.menuA {
    grid-area: menuA;
    background-color: lightgreen;
}

.menuB {
    grid-area: menuB;
    background-color: lightgreen;
}

.menuC {
    grid-area: menuC;
    background-color: lightgreen;
}

.menuImagenes {
    text-align: center;
}

.menuImagenes img  {
    height: 120px;
    width: 120px;
    margin-top: 10px;
}

/* Contenido Central */

.contenido {
    grid-area: c;
    background-color: lightblue;
    padding-left: 60px;
    padding-top: 60px;
    border-radius: 10px;
}

.contenidoGeneral {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 340px;
    grid-template-areas: "uno dos tres" "uno dos tres";
    border-radius: 10px;
}

#galleta1 {
    grid-area: uno;
    background: url("../img/galleta1.png");
    background-repeat: no-repeat;
}

#galleta2 {
    grid-area: dos;
    background: url("../img/galleta2.png");
    background-repeat: no-repeat;
}

#galleta3 {
    grid-area: tres;
    background: url("../img/galleta3.png");
    background-repeat: no-repeat;
}

/* Lateral */

.listadoLateral {
    grid-area: l;
    background-color: lightblue;
    border-radius: 10px;
}

#carrito {
    text-align: center;
}

/* Footer */

.footer {
    grid-area: f;
    color: white;
    text-align: center;
    padding-top: 15px;
}

/* Etiquetas normales */

ul {
    list-style-type: none;
}

img {
    height: 100px;
    width: 100px;
}

body {
    background-color: black;
}