.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 75px 225px 225px 125px 25px;
    grid-template-areas: "m m h h h h h h h h h h" "m m c c c c c c c c c c" "m m c c c c c c c c c c" "m m k k k k k k k k k k" "f f f f f f f f f f f f";
}

body {
    background-color: black;
}

.menuLateral {
    grid-area: m;
    background-color: red;
}

.menuImagenes {
    text-align: center;
}

.menuImagenes img {
    height: 200px;
    width: 200px; 
    
}
.header {
    grid-area: h;
    background-image: url("../img/banner.jpg");
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
}

.header img {
    width: 50px;
    height: 50px;
}

.header h1 {
    position: absolute;
    right: 10px;
}

.contenido {
    grid-area: c;
    background-color: green;
}

.carritoCompra {
    grid-area: k;
    background-color: violet;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px;
    grid-template-areas: "item1 item2 item3";
}

.footer {
    grid-area: f;
    color: white;
    text-align: center;
}

.contenidoGeneral {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px;
    grid-template-areas: "uno dos tres" "uno dos tres";
    border-radius: 10px;
}

.huecoGalletas {
    width: 100%;
    height: 100%;
    position: relative;
}

.tamanyoGalletas {
    width: 80%;
    height: 80%;
}

#galleta1 {
    grid-area: uno;
    position: absolute;
    top: 8%;
    left: 8%;
}

#galleta2 {
    grid-area: dos;
    position: absolute;
    top: 8%;
    left: 8%;
}

#galleta3 {
    grid-area: tres;
    position: absolute;
    top: 8%;
    left: 8%;
}

.carritoCompra img {
    height: 120px;
    width: 120px; 
}

#carrito {
    position: relative;
}

#carrito img {
    position: absolute;
    right: 100px;
}