body {
    font-family: sans-serif, "Oswald";
}

hr {
    clear:both;
    background-color: lightgrey;
}

#centro {
    margin-left: 35%;
    color: #6A6F69;
}

#centro ul {
    display: table-row;
}

#centro ul li{
    margin: 2em;
    padding: 1em;
    display: table-cell;
    font-weight: bold;
}

#centro ul li:hover{
    color: orangered;
} 

#alinearMarcador {
    width:10%; 
    float:left; 
    display:block;
}

#alinear {
    width:25%; 
    float:left; 
    display:block;
}

#partido {
    margin-left: 15%;
    padding-bottom: 125px;
    margin-top: 30px;
}

.derecha {
    float: right;
}

#goles {
    float: right;
    margin-right: 40%;
}

#marcador {
    font-size: 70px;
}

#nombre {
    font-size: 20px;
}